<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}

        {{ partial "hero.html" . }}
        {{ partial "approach.html" . }}

        <footer>
          <section style="padding:0px;margin:30px 30px;">
            <div class="container">
              <div class="row">
                <h4 style="text-transform:capitalize; font-weight:bold;">License</h4>
                <a href="https://opensource.org/licenses/MIT">MIT License</a>
              </div>
            </div>
          </section>
        </footer>
        {{ partial "js.html" . }} 
    </body>
    
</html>
