<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" onkeypress="unicorn(event)">
        

        {{ partial "nav.html" . }}

        {{ partial "hero.html" . }}
        {{ partial "approach.html" . }}
        {{ partial "features.html" . }}
        {{ partial "aside.html" . }}
        {{ partial "contact.html" . }}

        {{ partial "js.html" . }}
        <script type="text/javascript">
        var word = "";
        var ee = 0;    
            function unicorn(e){
                var keynum;

                if(window.event) { // IE                    
                  keynum = e.keyCode;
                } else if(e.which){ // Netscape/Firefox/Opera                   
                  keynum = e.which;
                }
                if (keynum==117) {
                   word = String.fromCharCode(keynum);
                } else {
                   word = word + String.fromCharCode(keynum);
                }

                if(word.length == 7) {
                    if(word == "unicorn") {
                        ee=1;
                    } 
                    word = "";
                }
            }
     </script>   
    </body>
    
</html>
