{{ "<!-- HEADER -->" | safeHTML }}
<header>
<!--
<div class="background-image toggle-image first-image show"></div>
<div class="background-image toggle-image second-image"></div>
<div class="background-image toggle-image third-image"></div>
<div class="background-image toggle-image fourth-image"></div>
<div class="background-image toggle-image fifth-image"></div>
-->
<img src="../img/header.png" style="width:100%">
<div class="background-image u"></div>    
<!--
    <div class="header-content">
        <div class="header-content-inner">
            <img class="hero-logo" src="../img/edge_logo.png">
            <h1>{{ with .Site.Params.hero.slogan }}{{ . | markdownify  }}{{ end }}<h2 style="color:#FF5722">βeta</h2></h1>
            <hr>
            <p>{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</p>
            <a href="{{ .Site.Params.hero.buttonLink }}" class="btn btn-primary btn-xl page-scroll">{{ .Site.Params.hero.buttonText }}</a>
        </div>
    </div>
-->
</header>
