{{ "<!-- ABOUT -->" | safeHTML }}
<!--Software Platform Section-->
<section class="bg-dark" id="software">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <h3>Protocols</h3>
                XML schemas for encoding layer info and scan pattern 
                <ul style="padding-left:0px; padding-top:10px;">
                  <li><a href="#page-top" style="color:white; font-weight:bold;">Source</a></li>
                  <li><a href="#page-top" style="color:white; font-weight:bold;">Release</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h3>Layer Generation</h3>
                Generate layer files from geometry file. Currently supports STL format. 
                <ul style="padding-left:0px; padding-top:10px;">
                  <li><a href="#page-top" style="color:white; font-weight:bold;">Source</a></li>
                  <li><a href="#page-top" style="color:white; font-weight:bold;">Release</a></li>
                </ul>
            </div>            
            <div class="col-lg-3 col-md-6 text-center">
                <h3>Scan Generation</h3>
                From layer files create a series of move commands combined with the laser power, speed, and focus. 
                <ul style="padding-left:0px; padding-top:10px;">
                  <li><a href="#page-top" style="color:white; font-weight:bold;">Source</a></li>
                  <li><a href="#page-top" style="color:white; font-weight:bold;">Release</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h3>Controller</h3>
                Machine agnostic PBFAM/SLM printing control software built with LabVIEW 
                <ul style="padding-left:0px; padding-top:10px;">
                  <li><a href="#page-top" style="color:white; font-weight:bold;">Source</a></li>
                  <li><a href="#page-top" style="color:white; font-weight:bold;">Release</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

